@import "../node_modules/bootstrap/scss/functions";
.gradient-background{
  background: linear-gradient(300deg,#008000,#ffffff,	#FF4500);
  background-size: 180% 180%;
  animation: gradient-animation 7s ease infinite;
}
@keyframes gradient-animation{
 0%{
   background-position: 0% 50%;
 }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.heightop{
  height: 400px
}
.centerop{
  display: flex;
  justify-content: center;
}

.h2footer{
  color:white;
}

.footerop{
  background-color: black;
}

